@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

:root {
    --color-primary: #293462;
    --color-form: #29346230;
    --color-focus: #29346299;
    /* Este zindex es el maximo */
    --zindex-navbar: 5000;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

input,
textarea {
    border: none;
    padding: 1rem;
    outline: none;
    background-color: var(--color-form);
    border-radius: 0.5rem;
    border: 3px solid transparent;

    transition: border 0.5s;
}

input:focus,
textarea:focus {
    border: 3px solid var(--color-form);
}

.container_principal {
    max-width: 900px;
    margin: auto;
}

.navbar {
    background-color: rgba(0, 0, 0, 90%);
    position: fixed;
    width: 100%;
    padding: 1em;
    z-index: var(--zindex-navbar);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar .menu {
    display: flex;
    gap: 1rem;
}

.navbar .menu li a {
    transition: opacity 0.5s;
}

.navbar .menu li a:hover {
    opacity: 0.6;
}

.home .content_bg-home {
    background-color: var(--color-primary);
    height: 50vh;
}

.home .box_img-home {
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    top: -150px;
    left: 1rem;
}

.home .box_img-home img {
    width: 100%;
}

.home .box_info-home {
    position: relative;
    text-align: center;
    top: -100px;
}

.home .box_info-home .title-home {
    font-size: 3rem;
}

.home .box_info-home .title-home span {
    color: var(--color-primary);
}

.about {
    font-size: 1.5rem;
    padding: 1em;
    text-align: justify;
}

.about p {
    margin: 1rem 0;
}

.skills {
    text-align: center;
}

.title-skills {
    margin-bottom: 1rem;
}

.skills i {
    color: var(--color-primary);
    font-size: 5rem;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
    border-radius: 100%;
}

.skills i:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.skills i:active {
    transform: scale(0.9);
}

.contact {
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form .box-input {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
}

form .box-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .submit {
    background-color: var(--color-primary);
    border: none;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
}

form .submit:hover {
    background-color: var(--color-focus);
}

footer {
    height: 50px;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
